//цвета
$mainText: #1F1F1F;
$red: #DE210B;
$redDark: #c21b08;
$darkGrey: #9F9F9F;
$midGrey: #ECECEC;
$grey: #D6D6D6;
$lightGrey: #F5F5F5;
$white: #ffffff;

$shadow: rgba(28, 28, 28, 0.12);

//отступы
$space: 4px;

//брейкпойнты
$bp-1400: 1400px;
$bp-1200: 1200px;
$bp-992: 992px;
$bp-768: 768px;
$bp-576: 576px;
$bp-360: 360px;

//ширина контейнера
$c-1400: 1244px;
$c-1200: 1140px;
$c-992: 900px;
$c-768: 720px;
$c-576: 540px;
$c-360: 280px;