.btn {
    display: inline-block;
    border-radius: 8px;
    padding: ($space * 3) ($space * 4);
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    transition: background-color 0.3s ease;
}

.btn-main {
    background: $red;
    color: $white;

    &:hover {
        background: $redDark;
        color: $white;
        transition: background-color 0.3s ease;
    }
}

.btn-big {
    width: 100%;
    font-size: 16px;
    line-height: 1.38;
    padding: $space * 4;
}