.air-datepicker {
    background: $white !important;
    border: none !important;
    border-radius: 8px !important;
    box-shadow: 0px 8px 16px $shadow;
    --adp-font-family: -apple-system, "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --adp-width: 270px;
    // --adp-background-color-hover: #F0EAD4;

    &--pointer {
        z-index: 1 !important;
    }

    &--pointer::after {
        display: none;
    }

    &--content {
        padding: 0 !important;
    }
}

.air-datepicker-nav {
    justify-content: center;
    border-bottom: none !important;
    min-height: 48px !important;
    padding: 0;

    &--action {
        display: none;
    }

    &--title {
        color: $red;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.33;
        text-transform: uppercase;
        position: relative;
    }

    &--title:hover {
        background: $white;
    }

    &--title i {
        color: $red !important;
    }

    &--title::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px; 
        border-color: $red transparent transparent transparent; 
        border-radius: 2px;
        position: absolute;
        top: 22px;
        right: -10px;
    }
}

.air-datepicker-body {
    &--day-name {
        color: $darkGrey !important;
        font-size: 12px !important;
        line-height: 1.33;
        text-transform: capitalize;
    }

    &--day-names {
        padding: 0 0 ($space * 4);
        margin: 0 !important;
    }

    &--cells {
        padding: ($space * 1.5) ($space * 2.5);
    }

    &--cells.-days- {
        grid-auto-rows: 36px !important;
    }
}

.air-datepicker-cell {
    color: $mainText !important;
    height: 36px !important;

    &.-day- {
        width: 36px !important;
        font-weight: 500;
        border-radius: 50%;
    }

    &.-day-.-current- {
        background: $lightGrey;
        border-radius: 50%;
    }

    &.-day-.-selected- {
        background: $red !important;
        color: $white !important;
    }

    &.-day-.-disabled- {
        color: $grey !important;
    }
}

.air-datepicker-cell.-day-.-other-month-, 
.datepicker--cell-year.-day-.-other-decade-,
.air-datepicker-cell.-day-.-other-month-.-disabled-, 
.datepicker--cell-year.-day-.-other-decade-.-disabled-,
.air-datepicker-cell.-day-.-other-month-.-focus-,
.air-datepicker-cell.-day-.-other-decade-.-focus- {
    background: $white;
    color: transparent !important;
}

@include breakpoint($bp-360) {
    .air-datepicker {
        --adp-width: 250px;
    }

    .air-datepicker-cell {
        height: 30px !important;

            &.-day- {
                width: 30px !important;
            }
    }
}