.header {
    border-bottom: 1px solid $lightGrey;
    background: $white;
    position: sticky;
    top: 0;
    z-index: 2;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: ($space * 4) 0;
    }
}

.header-panel {
    padding-top: $space * 6;

    &__subtitle {
        color: $darkGrey;
        margin-bottom: $space;
    }

    &__title {
        margin-bottom: $space * 6;
    }
}