.modal-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $bgModal;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;

    &.open {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;        
    }

    &__body {
        max-width: 400px;
        width: 100%;
        max-height: 90%;
        background: $white;
        box-shadow: 0px 8px 16px $shadow;
        border-radius: 16px;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 5px;
            background: $lightGrey;
            border-radius: 14px;
        }

        &::-webkit-scrollbar-thumb {
            background: $darkGrey;
            border-radius: 14px;
        }
    }

    &__close {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        position: absolute;
        top: 20px;
        right: 24px;
        border: none;
        background: $lightGrey url('/assets/images/close.svg') center center no-repeat;
        padding: 0;

        img {
            width: 10px;
            height: 10px;
        }
    }

    &__header {
        padding: $space * 6;
        border-bottom: 1px solid $midGrey;
    }

    &__content {
        padding: $space * 6;
    }
}

@include breakpoint($bp-576) {
    .modal-custom {
        align-items: flex-end;

        &__body {
            max-width: 100%;
            border-radius: 16px 16px 0 0;
        }
    }
}
