.select-ui {
    width: 100%;
    position: relative;    

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__list--multiselect {
        padding: 20px 0;
    }

    &__dropdown {
        display: none;
        width: 100%;
        max-height: 190px;
        background: $white;
        box-shadow: 0px 8px 16px $shadow;
        border-radius: 8px;
        padding: 6px 0;
        position: absolute;
        top: 61px;
        left: 0;
        right: 0;
        z-index: 101;
        overflow-y: auto;
    
        &::-webkit-scrollbar{
            width: 5px;
            background: $white;
            border-radius: 14px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: $grey;
            border-radius: 14px;
        }
    }

    &__dropdown--multiselect {
        width: 100%;
        background: $white;
        box-shadow: 0px 8px 16px $shadow;
        border: none;
        top: 38px;
    }

    &__backdrop {
        position: fixed;
        display: none;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
    }

    &__hidden-select {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -100;
    }
    
    &__checkbox-item {
        display: flex;
        align-items: center;
        padding: ($space * 3) ($space * 5);
        cursor: pointer;
    }

    &__name--checkbox {
        font-size: 20px;
        line-height: 1.25;
        cursor: pointer;
        position: relative;
        padding-left: 60px;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            border: 1px solid $mainText;
            margin-right: 20px;
            position: absolute;
            top: -2px;
            left: 0;
        }
    }

    &__input--checkbox {
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    // &__input--checkbox:checked + &__name--checkbox::after {
        // background: $mainColorLight url('/assets/images/icons/checkbox-light.svg') center center no-repeat;
    // }
}

.select-ui.open .select-ui__dropdown {
    display: block;
}

.select-ui.open .select-ui__input{
    cursor: pointer;

    &::after,
    &--multiselect::after {
        transform: translateY(-50%) rotate(-180deg);
    }
}

.select-ui.open .select-ui__backdrop {
    display: block;
}

.select-ui-fake {
    display: none;
}

.select-ui__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($space * 4.25) ($space * 3);
    background: $white;
    box-shadow: 0px 8px 16px $shadow;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.43;
    cursor: pointer;

    span {
        min-width: 100px;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: $space * 5;
    }

    

    &-name {
        position: absolute;
        opacity: 0;
    }

    &::after,
    &--multiselect::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url('/assets/images/arrow-down.svg') center center no-repeat;
        position: absolute;
        right: 20px;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        transition: transform 0.2s;
    }

    &.selected {
        padding: ($space * 6.25) ($space * 3) ($space * 2.25); 

        .select-ui__input-name {
            opacity: 1;
            font-size: 14px;
            transform: translate(0, -10px);
            transition: all 0.3s ease;
        }

        span[data-type='value'] {
            font-weight: 700;
            color: $mainText;
        }
    }

    &--multiselect {
        font-size: 20px;
        line-height: 1.25;
        cursor: pointer;
        padding-right: 35px;
    }

    // &--multiselect::after {
        // border-top: 1px solid $mainTextDark;
        // border-right: 1px solid $mainTextDark;
    // }

    // &-link {
        // color: $mainColor;
        // border-bottom: 1px dotted $mainColor;        
    // }

    &-truncate {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.form-item--time .select-ui__input::after {
    display: none;
}

.select-ui__item {
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.43;
    color: $mainText;

    &:hover {
        background: $lightGrey;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &.selected {
        font-weight: 700;
        position: relative;
        pointer-events: none;
    }
}

@include breakpoint($bp-1200) {
    .select-ui__input {
        &--multiselect {
            font-size: 18px;
        }
    }
}

@include breakpoint($bp-576) {
    .select-ui__input {
        &--multiselect {
            font-size: 16px;
        }
    }
}