.tab-links {
    margin: 0 -($space);

    &__item {
        border-radius: 21px;
        padding: 10px 16px;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin: 0 $space;
        background: $grey;
        color: $mainText;
        white-space: nowrap;
        transition: all 0.3s ease;

        &:hover {
            background: $midGrey;
        }
    }

    &__item.active {
        background: $red;
        color: $white;
        transition: all 0.3s ease;

        &:hover {
            background: $redDark;
        }
    }
}

.js-tabs-slider {
    .slick-slide {
        margin: 0 $space;

        .tab-links__item {
            margin: 0;
        }
    }

    
    .slick-prev:before, 
    .slick-next:before {
        
        display: none;
    }

    .slick-prev, 
    .slick-next {
        width: 32px;
        height: 32px;
        box-shadow: 0px 8px 16px $shadow;
        border-radius: 50%;
        z-index: 1;
    }

    .slick-prev {
        background: $white url('../images/arrow-left.svg') center center no-repeat;
        left: 4px;

        // &::after {
        //     content: '';
        //     display: block;
        //     width: 62px;
        //     height: 40px;
        //     background: linear-gradient(to right, #ffffff 40%, rgba(255, 255, 255, 0) 98%);
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: 1;
        // }
    }

    .slick-next {
        background: $white url('../images/arrow-right.svg') center center no-repeat;
        right: 4px;

        // &::after {
            // content: '';
            // display: block;
            // width: 62px;
            // height: 40px;
            // background: linear-gradient(to left, #ffffff 40%, rgba(255, 255, 255, 0) 99.81%);
            // position: absolute;
            // top: 0;
            // right: 0;
        // }
    }

    .slick-disabled {
        display: none;
    }
}

.js-tabs-slider.slick-slider {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 62px;
        height: 40px;
        background: linear-gradient(to right, #ffffff 40%, rgba(255, 255, 255, 0) 98%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        width: 62px;
        height: 40px;
        background: linear-gradient(to left, #ffffff 40%, rgba(255, 255, 255, 0) 99.81%);
        position: absolute;
        top: 0;
        right: 0;
    }
}

.tab-content {
    margin-top: $space * 10;
    margin-left: auto;
    margin-right: auto;

    &__item {
        display: none;

        &.active {
            display: block;
        }
    }
}

@include breakpoint($bp-576) {
    .tab-links {
        margin-right: -($space * 6);
    }
}