a {
    text-decoration: none;
}

a:hover {
    color: $mainText;
    transition: color 0.3s ease;
}

.title-h1 {
    font-size: 28px;
    line-height: 1.14;
    font-weight: 800;
}

.title-h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.title-h3 {
    font-size: 16px;
    line-height: 1.38;
    font-weight: 700;
}

.text-sm {
    font-size: 12px;
    line-height: 1.33;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.truncate {
    display: -webkit-box;     
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.truncate-4 {
    -webkit-line-clamp: 4; 
}

.title-count {
    background: $lightGrey;
    border-radius: 21px;
    padding: $space ($space * 3);
    font-weight: 700;
    margin-left: $space * 2;
}