<script src="/assets/js/vendor/jquery-3.3.1.min.js"></script>  
<script src="/assets/js/vendor/slick.min.js"></script>  
<script src="/assets/js/vendor/validator.js"></script>  
<script src="/assets/js/vendor/form-class.js"></script>  
<script src="/assets/js/vendor/input-class.js"></script>  
<script src="/assets/js/vendor/tabs-class.js"></script>  
<script src="/assets/js/vendor/select-ui.js"></script>  
<script src="/assets/js/dist/tabs.js"></script>  
<script src="/assets/js/dist/slider.js"></script>  
<script src="/assets/js/dist/form.js"></script>  
<script src="/assets/js/dist/select.js"></script>  
<script src="/assets/js/dist/input.js"></script>  
<script src="/assets/js/app.js"></script> 