.container {
    max-width: 540px;
    padding: 0 ($space * 6);
    margin: 0 auto;
}

.container-sm {
    max-width: 303px;
    padding: 0 ($space * 6);
    margin: 0 auto;
}

@include breakpointMin($bp-360) {
    .container-sm {
        max-width: 312px;
    }
}

@include breakpointMin($bp-576) {
    .container-sm {
        max-width: 524px;
    }
}

@include breakpointMin($bp-768) {
    .container {
        max-width: 720px;
    }

    .container-sm {
        max-width: 608px;
    }
}

@include breakpointMin($bp-992) {
    .container {
        max-width: 900px;
    }
}

@include breakpointMin($bp-1200) {
    .container {
        max-width: 1140px;
    }
}

@include breakpointMin($bp-1400) {
    .container {
        max-width: 1244px;
    }
}

